@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ruslan+Display');

:root {
    --main-bg-color: lightskyblue;
    --secondary-bg-color: lawngreen;
    --third-bg-color: hsla(0, 5%, 0%, 1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*background-color: #CCC;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /*background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
    background: radial-gradient(circle, var(--main-bg-color) 20%, lightblue 45%, lightgreen 80%, var(--secondary-bg-color) 100%);
}

header {
    text-align: center;
    color: yellow;
    font-family: 'Ruslan Display', cursive;
    font-size: xx-large;
}

h1 {
    margin: 0;
}

.top-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
}

.top-btns a, .btn-add-order {
    display: inline-block;
    padding: 2px 10px;
    margin-left: 20px; 
    font-family: 'Marck Script', cursive;
    font-size: 1.8rem;
    text-decoration: none;
    border: outset 4px #3baff7;
    border-radius: 7px;
    background-color: #3baff7;
    animation: blinking 4s ease-out infinite alternate;
}

.btn-add-order {
    animation-direction: alternate-reverse;
    cursor: pointer;
}

header div a:hover, .btn-add-order:hover {
    text-shadow: 0px 0px 5px #FFF;
    color: white;
    box-shadow: 5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;
    animation: none;
}

@keyframes blinking {
    0%    {text-shadow:none; color:#DDD; box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
    50%   {text-shadow:none; color:#DDD; box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
    53%   {text-shadow:0px 0px 5px #FFF; color:white; box-shadow:5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;}
    58%   {text-shadow:0px 0px 5px #FFF; color:white; box-shadow:5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;}
    59%   {text-shadow:none; color:#DDD; box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
    61%   {text-shadow:none; color:#DDD; box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
    63%   {text-shadow:0px 0px 5px #FFF; color:white; box-shadow:5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;}
    100%  {text-shadow:0px 0px 5px #FFF; color:white; box-shadow:5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;}
}

.sorteners {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 15px;
    background: linear-gradient(to left, #00E000 0%, transparent 25%);
    color: #FFF;
}

section {
    display: flex;
}

.left-menu {
    flex: 1;
    min-width: 150px;
    padding-top: 15px;
}

.section-name {
    padding: 10px;
    border: 1px solid #EEE;
    background-color: rgba(255,255,255, 0.2);
}

.sections-menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sections-menu li {
    background-color: lightskyblue;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #333;
}

.sections-menu li:hover,
.sections-menu li.active {
    background-color: PaleTurquoise;
    box-shadow: 2px 2px 3px #222;
}

.products-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.card {
    flex: 1 1 auto;
    width: 18.5%;
    min-width: 240px;
    max-width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right, gold 0%, #ffffff 90%);
    margin: 5px;
}

.cake-icon {
    height: 250px;
    padding: 10px 10px 0 10px;
    object-fit: cover;
    border-radius: 20px 30px 0 0;
    cursor: pointer;
}

.cake-name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    font-stretch: semi-expanded;
    color: #333;
    text-shadow: 3px 2px 3px #999;
    margin: 1px;
}

.pagination {
    height: 40px;
    background: radial-gradient(CIRCLE, #00E000 0%, transparent 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: #FFF;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination .active, .pagination a:hover {
    background-color: rgba(255,255,255,0.7);
    color: #00E000;
}

.pagination a:hover:not(.active) {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 5px;
    color: white;
}

p {
    margin: 0;
    text-align: center;
}