@import url('https://fonts.googleapis.com/css?family=Marck+Script|Ruslan+Display');

:root {
    --main-bg-color: lightskyblue;
    --secondary-bg-color: lawngreen;
    --third-bg-color: hsla(0, 5%, 0%, 1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    text-align: center;
    color: #BBB;
    font-family: 'Ruslan Display', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
}

h1 {
    margin: 0;
}

header a {
    display: inline-block;
    padding: 2px 10px;
    margin-left: 20px; 
    font-family: 'Marck Script', cursive;
    font-size: 1.8rem;
    text-decoration: none;
    border: outset 4px #3baff7;
    border-radius: 7px;
    background-color: #3baff7;
}

header a:hover {
    text-shadow: 0px 0px 5px #FFF;
    color: white;
    box-shadow: 5px 5px 10px rgba(255,255,255,0.1), 0px 0px 40px 5px #ceebfd;
}

.sorteners {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 15px;
    background: linear-gradient(to left, #00E000 0%, transparent 25%);
    color: #FFF;
}

section {
    display: flex;
}

.left-menu {
    flex: 1;
    min-width: 150px;
    padding-top: 15px;
}

.section-name {
    padding: 10px;
    border: 1px solid #EEE;
    background-color: rgba(255,255,255, 0.2);
}

.sections-menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sections-menu li {
    background-color: lightskyblue;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.sections-menu li:hover,
.sections-menu li.active {
    text-shadow: 0px 0px 4px #FFF;
    color: white;
    box-shadow: 4px 4px 8px rgba(255,255,255,0.1), 0px 0px 30px 4px #ceebfd;
}

.products-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.card.new-order {
    cursor: pointer;
    max-width: 240px;
}

.card.new-order img {
    filter: contrast(200%);
}

.card.new-order:hover img {
    filter: contrast(100%);
}

.card.new-order:hover .new-order-name {
    color: #444;
}

.new-order-icon {
    height: 210px;
    object-fit: scale-down;
}

.new-order-name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    margin: 0;
}

.card {
    flex: 1 0 auto;
    width: 250px;
    min-width: 200px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;
    margin: 5px;
}

.card.detailed {
    min-width: 500px;
    max-width: 600px;
    flex-flow: row;
    justify-content: space-between;
    background-color: #EEE;
    margin-top: 25px;
}

.card.detailed .cake-icon {
    width: 250px;
}

.cake-main {
    position: relative;
}

.cake-icon {
    width: 100%;
    display: block;
    height: 15.6rem;
    object-fit: cover;
    cursor: pointer;
}

.cake-name {
    color: white;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    margin: 0;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cake-main h5, .fa-shipping-fast {
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(255, 0, 0, .7);
    height: 26px;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0;
}

.mini-id {
    left: 0;
    border-radius: 0 0 10px 0;
}

.cake-main .date {
    height: 26px;
    left: 55px;
    top: -26px;
    text-align: center;
    padding: 0 5px;
    background-color: transparent;
    font-size: 26px;
    text-shadow: 0 0 10px #FAA;
    filter: drop-shadow(0 0 10px #FAA);
}

.fa-shipping-fast {
    right: 0;
    border-radius: 0 0 0 10px;
}

.cake-details {
    padding: 5px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client {
    display: flex;
    height: 75px;
}

.mini-avatar {
    height: 100%;
    object-fit: cover;
}

.client-info {
    flex: 1 1 auto;
    color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-details {
    border-collapse: collapse;
}

.order-details tr:nth-of-type(odd) {
    background-color: #DDD;
}

.order-details td {
    padding: 2px 0;
    margin: 0;
    font-size: 13px;
}
.order-details td:nth-of-type(1) {
    text-align: right;
    padding-right: 5px;
}

.pagination {
    height: 40px;
    background: radial-gradient(CIRCLE, #00E000 0%, transparent 45%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 155px;
}

.pagination a {
    color: #FFF;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination .active, .pagination a:hover {
    background-color: rgba(255,255,255,0.7);
    color: #00E000;
}

.pagination a:hover:not(.active) {
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 5px;
    color: white;
}

p {
    margin: 0;
    text-align: center;
}