@import url('https://fonts.googleapis.com/css?family=Marck+Script|Gabriela|Pacifico');

@font-face {
    font-family: 'Scriptorama';
    src: url('./fonts/scriptorama.woff') format('woff');
}

:root {
    --main-bg-color: #af0e38;
    --second-bg-color: #8e0b2e;
    --third-bg-color: rgba(0, 0, 0, .4);
    font-family: 'Gabriela';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.red-body {
    background: linear-gradient(45deg, var(--second-bg-color), var(--main-bg-color), var(--second-bg-color));
}

.hide-scroll {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

header h1 {
    color: #EEE;
    margin: 0;
    filter: drop-shadow(2px 2px 3px #930);
    text-align: center;
    font-family: 'Scriptorama', cursive;
    font-size: 4rem;
}

header a {
    margin: 10px;
}

header a, #scroll, #color-changer {
    font-family: 'Marck Script', cursive;
    font-size: 1.8rem;
    text-decoration: none;
    filter: drop-shadow(2px 4px 3px #666);
    color: #DDD;
    cursor: pointer;
    opacity: .8;
}

header a:hover, #scroll:hover, #color-changer:hover {
    color: white;
    filter: drop-shadow(0px 0px 4px #EEE);
}

.sorteners {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 15px;
    background: linear-gradient(to left, #0005 0%, transparent 25%);
    color: #FFF;
}

.left-menu {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.section-name {
    padding: 10px;
    background: linear-gradient(135deg, #fff5, #fff2, #fff7);
    color: #EEE;
    box-shadow: 2px 2px 3px #555;
}

.sections-menu, .clients-menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sections-menu li,
.clients-menu li {
    background-color: #0003;
    font-family: 'Pacifico';
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #CCC;
    box-shadow: 3px 3px 2px #3336;
}

li:hover,
li.active {
    text-shadow: 0px 0px 4px #FFF;
    color: white;
    filter: drop-shadow(0 0 3px #AAA);
}

.products-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    padding: 5px;
    padding-left: 150px;
    width: 100%;
}

.new-order {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-order:hover img {
    filter: contrast(100%);
}

.new-order:hover .new-order-name {
    color: #DDD;
}

.new-order-icon {
    object-fit: scale-down;
    filter: contrast(200%);
    height: 85px;
}

.new-order-name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    margin: 0;
    font-size: small;
    color: #FFF;
}

.dated-group {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 10px 0;
    justify-content: space-around;
    border-bottom: 2px solid #EEE;
    width: 100%;
    padding-bottom: 10px;
}

.date-header {
    padding: 5px 10px 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #FFF;
    font-size: xx-large;
    width: 100%;
    border-bottom: 2px solid #EEE;
    text-shadow: -5px 6px 5px #333;
}

.card {
    flex: 1 0 auto;
    width: 250px;
    max-width: 35%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #999;
    margin: 5px;
    position: relative;
}

.card.detailed {
    display: flex;
    min-width: 500px;
    max-width: 600px;
    flex-flow: row;
    background-color: #EEE;
}

.card.detailed .cake-icon {
    width: 250px;
}

.cake-main {
    position: relative;
}

.cake-icon, .cake-body-icon {
    width: 100%;
    display: block;
    height: 15.6rem;
    object-fit: cover;
    cursor: pointer;
}

.clients-cakes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients-cakes .cake-main {
    flex: 1 0 auto;
    margin: 2px;
    width: 75px;
    max-width: 25%;
}

.clients-cakes h4,
.clients-cakes h5 {
    font-size: small;
}

.mini {
    width: 100%;
    height: 75px;
}

.cake-name {
    color: #EEE;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    margin: 0;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mini-id, .fa-shipping-fast, .date {
    position: absolute;
    top: 0;
    color: white;
    background-color: var(--third-bg-color);
    padding: 5px 10px;
    margin: 0;
}

.mini-id {
    left: 0;
}

.date {
    right: 0;
}

.fa-shipping-fast {
    right: 0;
}

.cake-details, .client-details {
    padding: 5px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client {
    display: flex;
    height: 75px;
}

.mini-avatar {
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(-3px 4px 4px #777);
    cursor: pointer;
}

.client-info {
    flex: 1 1 auto;
    color: #555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 0px 3px #AAA);
}

.order-details {
    width: 100%;
    border-collapse: collapse;
}

.order-details tr:nth-of-type(odd) {
    background-color: #DDD;
}

.order-details td {
    padding: 2px 0;
    margin: 0;
    font-size: 13px;
    text-align: justify;
}

.order-details td:nth-of-type(1) {
    text-align: right;
    padding-right: 5px;
    filter: drop-shadow(0px 0px 3px #AAA);
}

.cake-details .form-buttons,
.client-details .form-buttons {
    text-align: right;
    filter: drop-shadow(-2px 2px 1px #999);
}

.client-card {
    display: flex;
    min-width: 350px;
    max-width: 600px;
    flex-flow: row wrap;
    background-color: #EEE;
    text-align: center;
}

.large-avatar {
    display: block;
    width: 125px;
    height: 125px;
    object-fit: cover;
    cursor: pointer;
}

h2 {
    text-shadow: -1px 2px 2px #999;
    font-size: small;
}

h2, h3 {
    padding: 0;
    margin: 0;
    font-size: 17px;
}

h4 {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.card-button  {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: transparent;
    cursor: pointer;
    color: #555;
}

.card-button:hover {
    color: #F22;
}

.pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 154px;
}

.pagination a {
    color: #CCC;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    text-decoration: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-right: 5px;
    filter: drop-shadow(-2px 3px 2px #555);
}

.pagination .active, .pagination a:hover {
    color: #FFF;
    border-color: #FFF;
    text-shadow: 0 0 10px #FFF;
    filter: drop-shadow(0 0 2px #FFF);
}

.pagination a:hover:not(.active) {
    cursor: pointer;
}

#scroll {
    position: fixed;
    bottom: 5px;
    right: 20px;
    display: none;
}

#color-changer {
    position: fixed;
    top: 20px;
    left: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    color: white;
}

footer a {
    color: white;
}

p {
    margin: 0;
    text-align: center;
}