.form-holder {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    bottom: 110%;
}

.show-form {
    bottom: 0;
}

.cake {
    border: 1px solid #F50;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFF;
    z-index: 3;
}

.form-header {
    text-align: center;
}

input[type=text], select {
    padding: 7px 11px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    background-color: #EEE;
}

legend {
    text-align: center;
    padding: 5px;
    display: inline-block;
    border: 1px solid #F50;
    border-radius: 8px;
    background-color: #F50;
    color: white;
}

fieldset {
    border: 1px solid #F50;
    border-radius: 15px;
}

.alert-success {
    position: fixed;
    bottom: 50px;
    left: 45%;
    background-color: green;
    border-radius: 5px;
    padding: 7px 15px;
    z-index: 1;
    color: white;
    opacity: 0.7;
}

.form-close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    transition: transform .5s ease-in-out;
}
.form-close:hover {
    transform: rotate(180deg);
    cursor: pointer;
}
.form-close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid #f50;
    transform: rotate(45deg);
    transform-origin: center;
}
.form-close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid #f50;
    transform: rotate(-45deg);
    transform-origin: center;
}