@import url('https://fonts.googleapis.com/css?family=Marck+Script|Caveat|Lobster');

.form-holder {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
    bottom: 100%;
    overflow: hidden;
}

.show-form {
    bottom: 0;
    height: 100%;
    position: fixed;
}

.cake {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 5px 7px;
    background-color: #EEE;
    z-index: 3;
}

.form-header {
    position: relative;
}

.order-header {
    text-align: center;
    margin: 10px 0 0 0;
    font-family: 'Lobster', cursive;
    font-size: x-large;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #F73, 0 0 8px #F50;
}

input[type=text], input[type=url], input[type=date], select {
    padding: 4px 11px;
    margin: 3px 0;
    box-sizing: border-box;
    border: none;
    background-color: #EEE;
    box-shadow: 1px 1px 4px #666 inset, -1px -1px 4px #666 inset;
}

input:focus, textarea:focus, select:focus {
    outline-color: #F50;
}

legend {
    text-align: center;
    text-shadow: 1px 1px 3px;
    padding: 4px 7px;
    display: inline-block;
    border: 1px solid #555;
    border-radius: 5px;
    color: #F50;
    font-family: 'Marck Script';
    font-size: x-large;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(140deg, #EEE 25%, #F5F5F5 51%, #E0E0E0 85%);
}

label {
    font-family: 'Caveat';
    font-size: 1.4rem;
    line-height: 0.6;
    text-shadow: 1px 1px 1px #AAA;
}

.details-simple label:not(#comments-label):hover, input:checked + span {
    color: #F50;
}

fieldset {
    border: 1px solid #555;
    border-radius: 15px;
    margin-bottom: 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 12px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFF;
}

.fieldset-items {
    display: flex;
    justify-content: space-between;
}

.details-left {
    text-align: right;
    margin: 0 5px;
}

.details-left label, .details-right label {
    margin-right: 5px;
}

.details-right {
    text-align: right;
}

.details-simple {
    flex: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#avatar-img, #prototype-img, result-img {
    display: block;
    height: 95%;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.alert-success {
    position: fixed;
    bottom: 50px;
    left: 45%;
    background-color: green;
    border-radius: 5px;
    padding: 7px 15px;
    z-index: 1;
    color: white;
    opacity: 0.7;
}

.form-close {
    display: block;
    position: absolute;
    right: 8px;
    top: 0;
    width: 32px;
    height: 32px;
    transition: transform .5s ease-in-out;
}
.form-close:hover {
    transform: rotate(180deg);
    cursor: pointer;
}
.form-close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid #f50;
    transform: rotate(45deg);
    transform-origin: center;
}
.form-close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 2px solid #f50;
    transform: rotate(-45deg);
    transform-origin: center;
}