@import url('https://fonts.googleapis.com/css?family=Marck+Script|Caveat|Pacifico|Ruslan+Display');

@font-face {
    font-family: 'Scriptorama';
    src: url('./fonts/scriptorama.woff') format('woff');
}

:root {
    --main-bg-color: #af0e38;
    --second-bg-color: #8e0b2e;
    color: white;
    scrollbar-color: var(--main-bg-color) var(--second-bg-color);
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--second-bg-color);
    margin: 0;
}

.hide-scroll {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.06rem;
    background-color: var(--main-bg-color);
    z-index: 4;
    box-shadow: 0 0 1.25rem 0.06rem #FAA;
    filter: drop-shadow(0 0 1.25rem #F66);
    border-bottom-left-radius: 100% 250%;
    border-bottom-right-radius: 100% 250%;
    text-align: center;
}

.page-name {
    font-family: 'Scriptorama';
    font-weight: 600;
    font-size: xx-large;
    text-shadow: 0 0 0.6rem #FFF, 0.06rem 0.06rem 0.3rem #000;
    letter-spacing: 0.6rem;
    filter: drop-shadow(0 0 1.25rem #F66);
}

.left-nav {
    position: fixed;
    width: 13rem;
    height: 100vh;
    transition: .7s ease-in-out;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
    box-shadow: 0.125rem 0 1.25rem #111;
    background: linear-gradient(to left, var(--main-bg-color), var(--second-bg-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hide-menu {
    left: -11.875rem;
}

.section-name {
    display: block;
    margin: 0 1.55rem 1rem;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.9) 50%, transparent);
    padding: 0.125rem 0;
}

.section-name p {
    background: linear-gradient(to left, var(--main-bg-color) -20%, var(--second-bg-color) 120%);
    margin: 0;
    padding: 0.25rem 0 0;
    font-family: 'Ruslan Display';
    font-size: large;
}

.sections-menu {
    list-style-type: none;
    padding: 0;
    display: block;
}

.sections-menu li {
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    padding: 0.3rem;
    margin: 0 1.55rem 0.4rem 1rem;
    cursor: pointer;
    color: #FDD;
    transition: .5s;
    text-shadow: 0.125rem 0.125rem 0.3rem #000;
}

.sections-menu li:hover {
    color: white;
    text-shadow: 0.125rem 0.125rem 0.3rem #FDD;
}

.sections-menu li.active {
    box-shadow: 0 0 1.25rem 0.375rem #FCC, inset 0 0 0.6rem 0.06rem #FCC;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.3rem #FDD;
}

.lights-off {
    box-shadow: none;
}

.arrow {
    position: absolute;
    right: 0.45rem;
    top: 50%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-top: 0.125rem solid #FDD;
    border-right: 0.125rem solid #FDD;
    transform: rotateY(0) rotateZ(45deg);
    filter: drop-shadow(0 0 0.19rem white);
    transition: .3s;
    cursor: pointer;
}

.arrow-left {
    transform: rotateY(180deg) rotateZ(45deg);
    right: 0;
}

.arrow-helper {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 1.25rem;
    transition: .5s;
    cursor: pointer;
}

.arrow-helper:hover {
    background-color: rgba(255, 200, 200, .2);
}

.products-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 4rem 0 7rem 1.875rem;
    margin-left: 13.125rem;
    background-color: var(--second-bg-color);
    transition: .7s ease-in-out;
}

.stretch {
    margin-left: 1.25rem;
}

.card {
    flex: 1 1 auto;
    width: 18.5%;
    min-width: 15.6rem;
    max-width: 40%;
    max-height: 15.6rem;
    margin: 0.6rem 1.25rem 0.6rem 0;
    position: relative;
    transition: all 1s ease-out;
    z-index: 0;
    box-shadow: 0 0.125rem 1.25rem 0.06rem #111;
    border-radius: 0.6rem;
}

.blurred {
    filter: blur(0.06rem) grayscale(90%) brightness(50%) opacity(80%);
}

.display-on-top {
    z-index: 3;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .5s ease-out;
    border-radius: 0.6rem;
    overflow: hidden;
}

.card-body:hover {
    box-shadow: 0 0 1.25rem 0.06rem #FAA;
    filter: drop-shadow(0 0 1.25rem #F66);
    margin-bottom: 1.875rem;
}

.cake-main {
    position: relative;
}

.cake-icon {
    width: 100%;
    display: block;
    height: 15.6rem;
    object-fit: cover;
    cursor: pointer;
}

.cake-name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    margin: 0;
    background-color: rgba(175, 14, 56, .6);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-body:hover .cake-name {
    position: static;
    background-color: transparent;
    color: #af0e38;
    transition: 1s;
}

.card-body:hover .cake-name:before,
.card-body:hover .cake-name:after {
    content: '';
    background: linear-gradient(to right, transparent, #af0e38 40%, #af0e38 60%, transparent);
    margin-top: 0.3rem;
    height: 0.19rem;
    display: block;
}

.card-body:hover .cake-name:after {
    margin-top: 0.06rem;
}

.cake-details {
    display: none;
    padding: 0.3rem 0.3rem 0;
}

.cake-details div {
    margin: 0 0.3rem 0.125rem;
}

h5, h6 {
    display: inline;
    font-size: 1.3rem;
}

h5 {
    font-family: 'Pacifico';
    color: var(--second-bg-color);
}

h6 {
    width: 100%;
    font-family: 'Marck Script';
    color: var(--main-bg-color);
}

.pagination {
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem 1.25rem 0 0;
}

.pagination a {
    color: #ccc;
    float: left;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    transition: .5s;
    border-right: 0.06rem solid #ccc;
}

.pagination a:last-child {
    border: none;
}

.pagination a.active {
    color: white;
    text-shadow: 0 0 0.6rem white;
    cursor: default;
}

.pagination a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: white;
}

footer {
    padding: 0.6rem 1.875rem 0.3rem;
    width: 100%;
    border-top-right-radius: 80% 100%;
    position: fixed;
    bottom: 0;
    background: var(--main-bg-color);
    z-index: 3;
    box-shadow: 0 0 1.25rem 0.06rem #FAA;
    filter: drop-shadow(0 0 1.25rem #F66);
}

footer span {
    display: inline-block;
    color: #FBB;
    font-size: small;
}

footer span a {
    color: white;
}

.social {
    position: fixed;
    display: flex;
    left: 2.75rem;
    bottom: 1rem;
    z-index: 2;
}

.social a {
    padding: 0;
    margin: 0 0.6rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 150ms;
}

.social a:hover {
    color: #2e60c7;
    margin-top: -1rem;
    transform: translate(0, -8);
}

.social a:nth-of-type(2):hover {
    color: #e95950;
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

.modal-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.19rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.modal-container .page-name {
    text-align: center;
}

.modal-img {
    max-width: 80vw;
    max-height: 80vh;
}

.modal-caption {
    font-family: 'Marck Script', cursive;
    font-size: 3rem;
    text-shadow: 0 0 1.25rem #FFF;
}

.modal-cakeID {
    margin-top: 0.3rem;
    color: #AAA;
    font-size: 0.8rem;
}

.close-modal {
    position: absolute;
    top: 0.3rem;
    right: 1.25rem;
    color: #BBB;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.5s;
}

.close-modal:hover {
    color: #FFF;
    text-shadow: 0 0 1.25rem #FFF;
    transform: rotate(90deg);
}

@media (max-width: 785px) {
    header {
        height: auto;
    }
    .page-name {
        letter-spacing: 0.125rem;
        font-size: x-large;
    }
    .left-nav {
        width: 10rem;
    }
    .hide-menu {
        left: -8.875rem;
    }
    .section-name {
        margin: 0 1rem 0;
    }
    .section-name p {
        padding: 0.06rem 0 0;
        font-size: medium;
    }
    .sections-menu li {
        margin: 0 1.55rem 0 1rem;
        font-size: 1.2rem;
        padding: 0.125rem;
    }
    .products-showcase {
        padding: 1.55rem 0 1.875rem 1.25rem;
        margin-left: 10rem;
    }
    .stretch {
        margin-left: 1.25rem;
    }
    .card {
        max-height: fit-content;
        max-width: 100%;
    }
    .card-body:hover {
        margin-bottom: 0;
    }
    .cake-details {
        display: block;
    }
    .blurred {
        filter: none;
    }
    .pagination {
        margin: 1.25rem 1.25rem 1.875rem 0;
    }
    .social {
        bottom: 3rem;
        left: 0.5rem;
        font-size: x-small;
    }
    .social a {
        margin: 0 0.2rem;
    }
    footer {
        border-top-right-radius: 3.125rem;
        padding: 0.3rem 1.875rem;
    }
    .close-modal {
        top: 10%;
    }
}

@media (max-width: 785px) and (orientation: landscape) {
    .section-name p {
        font-size: x-small;
    }
    .modal-container .page-name {
        font-size: small;
    }
    .modal-img {
        max-height: 65vh;
    }
    .modal-caption {
        font-size: 1.2rem;
    }
    .social {
        bottom: 2rem;
    }
}