@import url('https://fonts.googleapis.com/css?family=Marck+Script|Caveat:400,700|Pacifico|Ruslan+Display');

* {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

body {
    margin: 0;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #F50;
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: yellow;
    font-family: 'Ruslan Display';
    font-size: xx-large;
}

section {
    display: flex;
}

.left-menu {
    flex: 1;
    background-color: #09c;
    text-align: center;
}

.sections-menu {
    list-style-type: none;
    padding: 0;
}

.sections-menu li {
    background-color: lightskyblue;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px 5px 0 5px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #333;
}

.sections-menu li:hover,
.sections-menu li.active {
    background-color: PaleTurquoise;
    box-shadow: 2px 2px 3px #222;
}

.products-container {
    flex: 9;
}

.sorteners {
    padding-right: 20px;
    height: 40px;
    background: linear-gradient(to top right, #7cc 0%, #c69 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.products-showcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: linear-gradient(to bottom left, #7cc 0%, #c69 100%);
    padding: 15px;
}

.card {
    flex: 1 1 auto;
    width: 18.5%;
    min-width: 260px;
    max-width: 35%;
    display: block;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    height: 300px;
    position: relative;
    transition: all 0.5s ease-out;
}

.card:hover {
    z-index: 1;
}

.card-body {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 20px 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right, gold 0%, #ffffff 90%);
    transition: all 0.5s ease-out;
    z-index: 2;
}

.card-body:hover {
    transform: scale(1.05);
}

.cake-icon {
    width: 100%;
    display: block;
    height: 250px;
    padding: 10px 10px 0 10px;
    object-fit: cover;
    border-radius: 20px 30px 0 0;
    position: relative;
}

.cake-name {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    color: white;
    margin: -1px 10px 10px 10px;
    padding: 3px 0;
    display: block;
    border-radius: 0 0 15px 20px;
    background-color: #111;
    transition: all 1s;
}

.cake-details {
    display: none;
}

.card:hover .cake-details {
    display: block;
}

.cake-details div {
    margin: 0 5% 10px 5%;
}

h5, h6 {
    display: inline;
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px white, -1px -1px 3px white;
}

h5 {
    font-family: 'Ruslan Display';
}

h6 {
    font-family: 'Marck Script', cursive;
}

.pagination {
    height: 40px;
    background: linear-gradient(to top right, #7cc 0%, #c69 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    cursor: pointer;
    color: #4CAF50
}

footer {
    text-align: center;
    padding: 5px;
    background-color: lightgray;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 10%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    text-align: center;
}

.modal-img {
    display: inline-block;
    max-width: 80%;
    max-height: 80%;
}

.modal-caption {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 3rem;
    text-shadow: 0 0 20px #FFF;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    text-shadow: 0 0 20px #FFF;
}

.close-modal:hover {
    color: lawngreen;
    transform: rotate(90deg);
}