* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #F50;
    color: white;
}

section {
    display: flex;
}

nav {
    flex: 1;
    background-color: #09c;
    padding: 15px;
}

.products-container {
    flex: 9;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #ff6;
    padding: 15px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: lightgray;
    color: white;
}

.card {
    flex: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35), 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #f0f0f0;
    margin: 10px;
}

.cake-icon {
    flex: 60%;
    height: 175px;
    padding: 10px 10px 0 10px;
    object-fit: cover;
    border-radius: 20px 30px 0 0;
}

.card-body {
    flex: 40%;
}

.cake-name {
    text-align: center;
}